* {
    box-sizing: border-box;
}

header, footer {
    height:100px;
    width:100%;
    background: #bfbfbf;
    border: 1px solid #000000;
    clear: both;
}

.sections .left {
    height: 700px;
    width: 20%;
    background: #bfbfbf;
    border: 1px solid #000000;
    float: left;
}

.sections .right {
    height: 700px;
    width:80%;
    background: #bfbfbf;
    border: 1px solid #000000;
    float: left;
}



